{% extends "index.html" %}
{% block title %}Заявления{% endblock %}

{% block imports %}
<link rel="stylesheet" href="../static/styles/apps_page.css">
{% endblock %}

{% block content %}
<div class="apps">
    <div class="apps__grid">
        <div class="apps__element">
            <div class="apps__element_month">Сентябрь</div>
            <div class="apps__element_date">03.09</div>
            <div class="apps__element_type">5 курс</div>
        </div>

        <div class="apps__element approve">
            <div class="apps__element_month">Сентябрь</div>
            <div class="apps__element_date">02.09</div>
            <div class="apps__element_type">ХозДеп</div>
        </div>

        <div class="apps__element reject">
            <div class="apps__element_month">Сентябрь</div>
            <div class="apps__element_date">07.07</div>
            <div class="apps__element_type">4 курс</div>
        </div>

        <div class="apps__element reject">
            <div class="apps__element_month">Сентябрь</div>
            <div class="apps__element_date">07.07</div>
            <div class="apps__element_type">4 курс</div>
        </div>

        <div class="apps__element approve">
            <div class="apps__element_month">Сентябрь</div>
            <div class="apps__element_date">07.07</div>
            <div class="apps__element_type">4 курс</div>
        </div>

        <div class="apps__element approve">
            <div class="apps__element_month">Сентябрь</div>
            <div class="apps__element_date">07.07</div>
            <div class="apps__element_type">4 курс</div>
        </div>

        <div class="apps__element approve">
            <div class="apps__element_month">Сентябрь</div>
            <div class="apps__element_date">07.07</div>
            <div class="apps__element_type">4 курс</div>
        </div>

        <div class="apps__element approve">
            <div class="apps__element_month">Сентябрь</div>
            <div class="apps__element_date">07.07</div>
            <div class="apps__element_type">4 курс</div>
        </div>

        <div class="apps__element approve">
            <div class="apps__element_month">Сентябрь</div>
            <div class="apps__element_date">07.07</div>
            <div class="apps__element_type">4 курс</div>
        </div>

        <div class="apps__element approve">
            <div class="apps__element_month">Сентябрь</div>
            <div class="apps__element_date">07.07</div>
            <div class="apps__element_type">4 курс</div>
        </div>

        <div class="apps__element approve">
            <div class="apps__element_month">Сентябрь</div>
            <div class="apps__element_date">07.07</div>
            <div class="apps__element_type">4 курс</div>
        </div>

        <div class="apps__element approve">
            <div class="apps__element_month">Сентябрь</div>
            <div class="apps__element_date">07.07</div>
            <div class="apps__element_type">4 курс</div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../static/scripts/apps.js"></script>
{% endblock %}
