<!doctype html>
<html lang="ru">

<head>
   <meta charSet="utf-8" />
    <link rel="stylesheet" href="../static/styles/welcome_page.css">
</head>

<body>
    <div class="title">Сервис сбора материальной помощи</div>
    <div class="frkt-logo"><img src="https://wiki.mipt.tech/images/thumb/b/bc/FRKT_logo.png/2880px-FRKT_logo.png" alt="" id="rt-logo"></div>
    <div class="main-block">
        <h2>Войдите через Яндекс почту</h2>
        <a href={{ link }}>
            <div class="signin-btn">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/58/Yandex_icon.svg" alt="" id="ya-logo">
                Войти
            </div>
        </a>
    </div>
</body>

</html>
