{% extends "index.html" %}
{% block title %}Гайд{% endblock %}

{% block imports %}
<link rel="stylesheet" href="../static/styles/guide_page.css">
{% endblock %}

{% block content %}
<div class="guide">
<!--    <div id="guide_header">-->
<!--        <img src="static/guide_head.jpg" alt="">-->
<!--    </div>-->

        Студенты ФРКТ, обучающиеся на
        бюджетном отделении, а также аспиранты
        ФРКТ имеют право на получение
        материальной поддержки из средств
        стипендиального фонда. Назначение
        материальной помощи обучающимся
        осуществляется стипендиальной комиссией
        физтех-школы, в которую входят:

        <ol>
            <li>
                <b>Директор ФРКТ</b>: Гаврилов Дмитрий Александрович
            </li>
            <li>
                <b>Зам. директора по учебно-методической работе</b>:
                <a href="https://vk.com/id254230457">Русскин Сергей Олегович</a>
            </li>
            <li>
                <b>Зам. директора по учебно-воспитательной работе</b>:
                <a href="https://t.me/yakov_lv">Львович Яков Ильич</a>
            </li>
            <li>
                <b>Председатель Студсовета ФРКТ</b>:
                <a href="https://t.me/WlfsMlkLvr">Фаттахов Роман</a>
            </li>
            <li>
                <b>Профорг ФРКТ</b>:
                <a href="https://t.me/a_elbereth">Рахметов Ринат</a>
            </li>
            <li>
                <b>Профорг ФРКТ</b>:
                <a href="https://t.me/aaa_nasteish_aaa">Вылегжанина Анастасия</a>
            </li>
            <li>
                <b>Представитель Студсовета</b>:
                <a href="https://t.me/AlbatraozRUS">Шакирзянов Искандер</a>
            </li>
        </ol>

        <h3>Когда и кому подавать заявления на материальную помощь?</h3>

        В начале каждого месяца заявление
        подается старосте курса через <a href="https://t.me/ssfrkt_bot">Telegram-бота
        Студсовета ФРКТ</a>, после чего оно
        сдается в специальные контейнеры,
        расположенные на первом этаже общежития
        №1.

        <ul>
            <li><b>Начальник 1-го курса</b>: Евгений Рогов</li>
            <li><b>Староста 2-го курса</b>: Алина Полонская</li>
            <li><b>Староста 3-го курса</b>: Евгений Рогов</li>
            <li><b>Староста 4-го курса</b>: Александр Власенко</li>
            <li><b>Староста магистратуры</b>: Лев Мальцев</li>
        </ul>

        В группах курсов публикуется точная
        информация <i>о месте и времени сбора</i>
        заявлений.

        <h3>Как оформлять заявления?</h3>
        <h4><a href="https://clck.ru/3Q6Ktq">БЛАНК ДЛЯ ЗАЯВЛЕНИЯ</a></h4>
        <ul>
            <li>Каждое заявление на матпомощь
                подается в виде подписанного <b>синей ручкой</b>
                бланка <b>бумаги (НЕ на планшете)</b>.</li>
            <li>Каждое заявление должно содержать
                подтверждающие документы (справки,
                чеки и т.д.) и <b>полную информацию</b> о
                доходах подающего. Все файлы должны
                быть объединены в <b>единый PDF-файл</b>.</li>
            <li>Если студент получает матпомощь по
                нескольким категориям, то будет
                достаточно всего одного физического
                заявления.</li>
            <li>В специальные ящики для сбора
                матпомощи нужно сдать <b>только оригинал</b>
                заявления (без подтверждающих
                документов и чеков).</li>
            <li>Более подробную информацию вы можете
                получить у своего старосты курса.</li>
        </ul>


</div>
{% endblock %}
