<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная страница {% endblock %}</title>

    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/styles/account_menu.css">
    <link rel="stylesheet" href="../static/styles/main_page.css">
    {% block imports %}{% endblock %}
</head>

<body>
    <header class="page-header">
        <nav class="page-header-navigation">
            <div class="navigation__menu">
                <div class="navigation__link" id="funds">
                    Сборы
                </div>
                <div class="navigation__link" id="apps">
                    Заявления
                </div>
                <div class="navigation__link" id="guide">
                    Гайд
                </div>
                <div class="navigation__link" id="department">
                    Департамент
                </div>
                <div class="navigation__link" id="settings">
                    Настройки
                </div>
            </div>
            <div class="navigation__user">
                <img src="../static/alt_photo.png" alt="">
            </div>
        </nav>
    </header>

    <div class="message-window">
        <div class="message-window-content">
            <div class="message-window-content__message">
                <span class="message__text-1">Успех!</span>
                <span class="message__text-2">Заявление подано!</span>
            </div>
        </div>
        <div class="message-window-progress"></div>
    </div>

    <main>
        <div class="navigation-back"></div>
        <div class="navigation-space"></div>

        {% block content %}{% endblock %}

        <div class="account-menu-overlay overlay" aria-modal="true">
            <div class="account-menu">
                <div class="account-menu__info">
                    <div class="account-menu__info__avatar">
                        <img src="../static/alt_photo.png" alt="">
                    </div>
                    <div class="account-menu__info__fullname">
                        - - -
                    </div>
                    <div class="account-menu__info__email" onclick="copyFunc(event)">
                        surname.np@phystech.edu
                    </div>
                    <div class="account-menu__info__study">
                        <div id="group">
                            <span class="icon" id="group-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                            <span id="group-number">
                                Б00-000
                            </span>
                        </div>
                        <div id="course">
                            <span class="icon" id="course-icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
                            <span id="course-number">
                                0 курс
                            </span>
                        </div>
                    </div>
                    <div class="account-menu__info__contacts">
                        <div id="phone">
                            <span class="icon" id="phone-icon"><i class="fa fa-phone-square" aria-hidden="true"></i></span>
                            <input id="phone-number" type="tel" placeholder="+7 (___) ___-__-__" maxlength="18" minlength="18">
                            <button class="submit-button phone-submit-button"><i class="fa fa-check" aria-hidden="true"></i></button>
                        </div>
                        <div id="telegram">
                            <span class="icon" id="tg-icon"><i class="fa fa-telegram" aria-hidden="true"></i></span>
                            <input id="tg-nickname" pattern="^(?:@.+)$" placeholder="@nickname" minlength="6" maxlength="33">
                            <button class="submit-button tg-submit-button"><i class="fa fa-check" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="account-menu__info__departments">
                        <div class="departments-title">
                            Департаменты
                        </div>
                        <div class="departments-grid"></div>
                    </div>
                    <div class="account-menu__info__role">
                        Студент
                    </div>
                </div>
<!--                <button class="account-menu__close-button"></button>-->
                <button class="account-menu__sign-out-button">Выйти</button>
            </div>
        </div>
    </main>

    <script type="text/javascript" src="../static/scripts/main_script.js"></script>
</body>

</html>