<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User</title>

    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/styles/account_menu.css">
    <link rel="stylesheet" href="../static/styles/main_page.css">
</head>

<body>
    <header class="page-layout__header">
        <nav class="navigation">
            <div class="navigation__menu">
                <div class="navigation__link">
                    Сборы
                </div>
                <div class="navigation__link">
                    Заявления
                </div>
                <div class="navigation__link">
                    Гайд
                </div>
                <div class="navigation__link">
                    Департамент
                </div>
                <div class="navigation__link">
                    Настройки
                </div>
            </div>
            <div class="navigation__user">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
            </div>
        </nav>
    </header>

    <div class="overlay" style="display: none">
        <div class="account_menu">
            <div class="account_card">
                <div class="user_avatar">
                    <img src="../static/alt_photo.png" alt="">
<!--                    <img class="" src="https://avatars.yandex.net/get-yapic/47747/IfMIQf9CPADgNEAwt4asFHcLdk-1/islands-200" alt="">-->
                </div>
                <div class="user_fullname">
                    - - -
                </div>
                <div class="user_email">
                    surname.np@phystech.edu
                </div>
                <div class="user_study">
                    <div id="group">
                        <span id="group-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                        <span id="group-number">
                            С01-119
                        </span>
                    </div>
                    <div id="course">
                        <span id="course-icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
                        <span id="course-number">
                            5 курс
                        </span>
                    </div>
                </div>
                <div class="user_contacts">
                    <div id="phone">
                        <span id="phone-icon"><i class="fa fa-phone-square" aria-hidden="true"></i></span>
                        <span id="phone-number">
                            +79130779320
                        </span>
                    </div>
                    <div id="telegram">
                        <span id="tg-icon"><i class="fa fa-telegram" aria-hidden="true"></i></span>
                        <span id="tg-nickname">
                            @leoriusmalz
                        </span>
                    </div>
                </div>
                <div class="user_departments">
                    <div id="department-title">Департаменты</div>
                    <div class="departments_grid">
                        <span class="depart">Хоз</span>
                        <span class="depart">ДКС</span>
                        <span class="depart">PR</span>
                        <span class="depart">Учебный</span>
                        <span class="depart">Информационный</span>
                    </div>
                </div>
                <div class="user_role">
                    <span id="role">Староста курса</span>
                </div>
            </div>
            <button class="account_menu_close_btn"></button>
            <button class="sign_out_btn">Выйти</button>
        </div>
    </div>

    <script type="text/javascript" src="../static/scripts/main_script.js"></script>
</body>

</html>