
/* Внешний контейнер */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: auto;
}

.account_menu {
    position: relative;
}

/* Карточка пользователя */
.account_card {
    display: block;
    background: whitesmoke;
    flex-wrap: wrap;
    /*position: relative;*/
    /*left: calc(50vw - min(650px, 60vw)/2);*/

    font-family: "VK Sans Display", serif;

    width: min(650px, 60vw);
    min-width: 400px;
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
    flex-direction: column;
    box-shadow: 0 4px 20px rgba(0,0,0,0.35);

    /*margin: 40px auto auto;*/
    margin-top: 35px;
    margin-bottom: 30px;
    padding: 30px 10px 20px;

    border-radius: 30px;
}

.account_card::-webkit-scrollbar {
    width: 0;
}

.overlay::-webkit-scrollbar {
    width: 5px;
}

.overlay::-webkit-scrollbar-thumb {
    background: #6e0000;
    border-radius: 10px;
}

.account_menu_close_btn {
    position: absolute;
    display: flex;

    top: 31px;
    right: -3px;
    background: #c62828;
    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    cursor: pointer;

    justify-content: center;
    align-items: center;
    transition: background 0.2s;

    color: darkred;
}

.account_menu_close_btn:hover {
    background: #e53935;
}

.sign_out_btn {
    position: absolute;
    display: flex;

    font-family: "VK Sans Display", serif;
    font-weight: bold;

    top: 70px;
    right: -70px;
    background: #ffce14;
    border: none;
    border-radius: 50px;
    width: 58px;
    height: 28px;
    cursor: pointer;

    justify-content: center;
    align-items: center;
    transition: background 0.2s;

    color: darkred;
}

.sign_out_btn:hover {
    background: #f4d966;
}

/* Аватарка */
.user_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_avatar img {
    border-radius: 100%;
    width: 200px;
    height: 40%;
}

/* ФИО и почта */
.user_fullname {
    font-size: 37px;
    font-weight: bolder;
    color: #3c0000;
    text-align: center;

    word-wrap: break-word;
    overflow-wrap: anywhere;
    white-space: normal;

    margin-top: 20px;
}

.user_email {
    font-size: 20px;
    font-weight: lighter;
    color: dimgray;
    text-align: center;

    margin-top: 0;

    cursor: copy;
}

.user_email:hover {
    color: #5e5a5a;
}

/* Цвета иконок */
[id$="icon"] {
    color: #450000;
}

/* Учебная информация */
.user_study, .user_contacts {
    display: block;

    font-weight: bold;
    font-size: 30px;

    margin-left: 3%;
    margin-top: 35px;
}

#course-icon {
    font-size: 28px;
    margin-left: -3px;
}

#group-number {
    margin-left: 10px;
}

#course-number {
    margin-left: 7px;
}

/* Контакты */
.user_contacts {
    font-weight: normal;
    margin-top: 13px;
}

#telegram, #phone {
    display: flex;
}

#phone-icon {
    margin-left: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#tg-icon {
    font-size: 28px;
    margin-left: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: -1px;
}

#phone-number, #tg-nickname {
    margin-left: 20px;
    margin-top: 2px;

    background-color: rgba(128, 128, 128, 0);
    border-radius: 10px;
    border-width: 0;

    word-wrap: break-word;
    overflow-wrap: anywhere;
    white-space: normal;
    font-size: 30px;
    font-family: "VK Sans Display", 'serif';

    padding: 4px;
    height: 32px;
    width: 275px;

    transition: background 0.3s;
    cursor: pointer;
}

#phone-number:hover, #tg-nickname:hover {
    background-color: rgba(128, 128, 128, 0.2);
    border-style: hidden;
    border-radius: 10px;
}

#phone-number.active, #tg-nickname.active {
    background-color: rgba(128, 128, 128, 0.2);
    border-style: hidden;
    border-width: 0;
    border-radius: 10px;
}

#phone-number.wrong, #tg-nickname.wrong {
    background-color: rgba(142, 0, 0, 0.1);
    border-style: hidden;
    border-width: 0;
    border-radius: 10px;
    color: #6e0000;
}

/* Информация о департаментах */
.user_departments {
    display: block;

    margin-top: 35px;
}

#department-title {
    display: block;
    text-align: center;

    font-weight: bold;
    font-size: 22px;
}

.departments_grid {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    gap: 6px;
    white-space: nowrap;

    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 18px;
    color: #300000;

    margin-top: 10px;
}

.depart {
    display: inline;
    background-color: rgba(152, 0, 0, 0.1);

    text-align: center;

    border-width: 3px;
    border-color: black;
    border-style: hidden;
    border-radius: 6px;

    padding: 5px;
}

.user_role {
    display: none;

    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: #000000;

    margin-top: 20px;
    margin-bottom: 15px;
}

/*.tooltip {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/

/*.tooltip .tooltiptext {*/
/*    display: none;*/
/*    width: 140px;*/
/*    background-color: #555;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    border-radius: 6px;*/
/*    padding: 5px;*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    bottom: 150%;*/
/*    left: 50%;*/
/*    margin-left: -75px;*/
/*    opacity: 1;*/
/*    transition: opacity 0.3s;*/
/*}*/

/*.tooltip .tooltiptext::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    left: 50%;*/
/*    margin-left: -5px;*/
/*    border-width: 5px;*/
/*    border-style: solid;*/
/*    border-color: #555 transparent transparent transparent;*/
/*}*/

/*.tooltip:hover .tooltiptext {*/
/*    visibility: visible;*/
/*    opacity: 1;*/
/*}*/

@font-face {
  font-family: "VK Sans DemiBold";
  src: url("../vk-sans/VKSansDisplayDemiBoldFaux.v100.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}