/** {*/
/*    outline: 1px solid red;*/
/*}*/

.apps {
    display: none;
    font-family: "VK Sans Display", serif;
    color: #d1d1d1;

    width: 95%;
}

.apps__grid {
    display: flex;
    position: relative;
    justify-content: start;
    align-items: start;

    width: 100%;

    flex-wrap: wrap;
    white-space: nowrap;
    gap: 30px;

    top: 30px;
    left: 50px;
    padding: 5px;
}

.apps__element {
    width: 295px;
    height: 295px;
    min-width: 100px;
    min-height: 100px;

    /*background-image: url("../check_mark_icon.png");*/

    border-radius: 13px;
    z-index: 2;

    --color: 255, 255, 255;
    --grad_color: 255, 255, 255;

    box-shadow: 0 0 4px rgba(255, 255, 255),
                 0 0 8px rgba(255, 255, 255),
                 -2px 0 16px rgba(255, 255, 255, 0.75),
                 inset 5px 1px 10px rgba(255, 255, 255, 0.91),
                 inset -2px 0 12px rgba(179, 179, 179, 0.44);

    backdrop-filter: blur(5px);

    font-size: 25px;
    font-weight: bold;

    padding: 15px;

    cursor: pointer;
    transform-style: preserve-3d;
    transition: 0.2s ease-out;
}

.apps__element:hover {
    /*--color: rgba(255, 255, 255, 0.45);*/
    box-shadow: 0 0 8px rgba(var(--color)),
                 0 0 16px rgba(var(--color)),
                 -4px 0 32px rgba(var(--color), 0.75),
                 inset 10px 2px 20px rgba(var(--color), 0.91),
                 inset -4px 0 24px rgba(var(--color), 0.44);

    background: linear-gradient(135deg, rgba(var(--grad_color), 0.25) 0%, rgba(var(--grad_color), 0.05) 100%) 80%;
    transition: 0.2s ease-out;
    z-index: 4;
}

.apps__element.approve {
    --color: 0, 255, 0;
    --grad_color: 0, 255, 0;
}

.apps__element.reject {
    --color: 255, 0, 0;
    --grad_color: 255, 0, 0;
}


.apps__element_month {
    position: relative;
    top: -7px;
    font-size: 37px;
}

.apps__element_date {
    position: relative;
    top: -7px;
}

.apps__element_type {
    /*outline-style: solid;*/
    /*outline-color: #e53935;*/
    position: relative;
    width: 100%;
    height: auto;
    --h: 0;
    bottom: -170px;
    /*bottom: calc(-170px - var(--h));*/
    font-size: 30px;
    word-wrap: break-word;
    text-wrap: wrap;
}


.funding__element_status img {
    max-width: 50px;
    border-radius: 100%;
}