/** {*/
/*    outline: 1px solid red;*/
/*}*/

.funding {
    display: none;
    font-family: "VK Sans Display", serif;
    color: #d1d1d1;

    width: 90%;
}

.funding__create {
    display: none;
    position: relative;

    top: 30px;
    left: 30px;
    padding: 5px;
    z-index: 2;

    /*border-color: #a7f136;*/
    background-color: rgba(156, 232, 38, 0.2);
    border-style: hidden;
    border-radius: 30px;
    width: 150px;

    font-size: 20px;
    box-shadow: 0 0 2px rgba(149, 195, 73, 0.59),
                0 0 4px rgba(149, 195, 73, 0.59),
                inset -2px 1px 3px rgba(149, 195, 73, 0.59);
    backdrop-filter: blur(10px);

    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: 0.2s;
}

.funding__create:hover {
    background-color: rgba(156, 232, 38, 0.4);
    box-shadow: 0 0 2px rgba(149, 195, 73, 0.9),
                0 0 4px rgba(149, 195, 73, 0.9),
                inset 2px -1px 3px rgba(149, 195, 73, 0.7);
}

.funding__list {
    position: relative;
    top: 50px;
    left: 30px;

    width: 90%;
    height: 90%;
    padding-bottom: 50px;
}

.funding__element {
    width: 95%;
    min-width: 400px;
    background: linear-gradient(90deg, var(--back-color3) 0%, var(--back-color2) 10%, var(--back-color1) 100%);

    border-radius: 13px;
    z-index: 2;
    box-shadow: 0 0 5px var(--color),
                0 0 25px var(--color),
                0 0 50px var(--color),
                0 0 200px var(--color),
                -5px 0 10px 5px var(--color),
                inset 0 0 10px var(--color);
    backdrop-filter: blur(5px);

    font-size: 25px;
    font-weight: bold;

    margin-top: 12px;
    padding: 10px;

    cursor: pointer;
    /*transition: 0.2s;*/
    transform-style: preserve-3d;
    transition: 0.2s ease-out;
}

.funding__element.true {
    --color: rgba(0, 128, 0, 0.2);
    --back-color1: rgba(0, 128, 0, 0.2);
    --back-color2: rgba(0, 128, 0, 0.45);
    --back-color3: rgba(0, 128, 0, 0.5);
}

.funding__element.false {
    --color: rgba(128, 0, 0, 0.2);
    --back-color1: rgba(128, 0, 0, 0.2);
    --back-color2: rgba(128, 0, 0, 0.45);
    --back-color3: rgba(128, 0, 0, 0.5);
}

.funding__element.own {
    --color: rgba(255, 215, 0, 0.24);
    box-shadow: 0 0 5px var(--color),
                0 0 25px var(--color),
                0 0 50px var(--color),
                0 0 200px var(--color),
                -5px 0 10px 5px var(--color),
                inset 0 0 10px var(--color);
}

.funding__element:hover {
    box-shadow: 0 0 10px var(--color),
                0 0 50px var(--color),
                0 0 75px var(--color),
                0 0 100px var(--color),
                0 0 200px var(--color),
                -5px 0 10px 5px var(--color),
                inset 0 0 20px var(--color);

    /*background-color: #a7f136;*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.43);*/
    background-position: 80%;
    /*transform: rotate3d(-1, -1, 0, 20deg) rotate3d(0, 0, 1, 1deg) scale3d(1.03, 1.03, 1.03);*/
    /*transform: scale3d(1.07, 1.07, 1.07) translateX(30px);*/
    transition: 0.2s ease-out;
    z-index: 4;
}

.funding__element_status {
    position: relative;
    right: -70vw;
    max-width: 50px;
}

.funding__element_status img {
    max-width: 50px;
    border-radius: 100%;
}