/** {*/
/*    outline: 1px solid red;*/
/*}*/

.funding {
    display: none;
    font-family: "VK Sans Display", serif;
    color: #d1d1d1;

    width: 90%;
}

.funding__create {
    display: none;
    position: relative;

    top: 30px;
    left: 30px;
    padding: 5px;
    z-index: 2;

    /*border-color: #a7f136;*/
    background-color: rgba(156, 232, 38, 0.2);
    border-style: hidden;
    border-radius: 30px;
    width: 150px;

    font-size: 20px;
    box-shadow: 0 0 2px rgba(149, 195, 73, 0.59),
                0 0 4px rgba(149, 195, 73, 0.59),
                inset -2px 1px 3px rgba(149, 195, 73, 0.59);
    backdrop-filter: blur(10px);

    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: 0.2s;
}

.funding__create:hover {
    background-color: rgba(156, 232, 38, 0.4);
    box-shadow: 0 0 2px rgba(149, 195, 73, 0.9),
                0 0 4px rgba(149, 195, 73, 0.9),
                inset 2px -1px 3px rgba(149, 195, 73, 0.7);
}

.funding__list {
    position: relative;
    top: 50px;
    left: 30px;

    width: 90%;
    height: 90%;
    padding-bottom: 50px;
}

.funding__element {
    width: 95%;
    min-width: 400px;
    background: linear-gradient(90deg, var(--back-color3) 0%, var(--back-color2) 10%, var(--back-color1) 100%);

    border-radius: 13px;
    z-index: 2;
    box-shadow: 0 0 5px var(--color),
                0 0 25px var(--color),
                0 0 50px var(--color),
                0 0 200px var(--color),
                -5px 0 10px 5px var(--color),
                inset 0 0 10px var(--color);
    backdrop-filter: blur(5px);

    font-size: 25px;
    font-weight: bold;

    margin-top: 12px;
    padding: 10px;

    cursor: pointer;
    /*transition: 0.2s;*/
    transform-style: preserve-3d;
    transition: 0.2s ease-out;
}

.funding__element.true {
    --color: rgba(0, 200, 0, 0.2);
    --back-color1: rgba(0, 128, 0, 0.2);
    --back-color2: rgba(0, 128, 0, 0.45);
    --back-color3: rgba(0, 128, 0, 0.5);
}

.funding__element.false {
    --color: rgba(128, 128, 128, 0.2);
    --back-color1: rgba(128, 128, 128, 0.2);
    --back-color2: rgba(128, 128, 128, 0.45);
    --back-color3: rgba(128, 128, 128, 0.5);
}

.funding__element.own {
    --color: rgba(255, 215, 0, 0.24);
    box-shadow: 0 0 5px var(--color),
                0 0 25px var(--color),
                0 0 50px var(--color),
                0 0 200px var(--color),
                -5px 0 10px 5px var(--color),
                inset 0 0 10px var(--color);
}

.funding__element:hover {
    box-shadow: 0 0 10px var(--color),
                0 0 50px var(--color),
                0 0 75px var(--color),
                0 0 100px var(--color),
                0 0 200px var(--color),
                -5px 0 10px 5px var(--color),
                inset 0 0 20px var(--color);

    /*background-color: #a7f136;*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.43);*/
    background-position: 80%;
    /*transform: rotate3d(-1, -1, 0, 20deg) rotate3d(0, 0, 1, 1deg) scale3d(1.03, 1.03, 1.03);*/
    /*transform: scale3d(1.07, 1.07, 1.07) translateX(30px);*/
    transition: 0.2s ease-out;
    z-index: 4;
}

.funding__element_status {
    position: relative;
    right: -70vw;
    max-width: 50px;
}

.funding__element_status img {
    max-width: 50px;
    border-radius: 100%;
}

.funding-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.29);
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: auto;

    font-family: "VK Sans Display", serif;
}

.funding-creating-win {
    background: rgba(245, 245, 245, 0.3);
    box-shadow: 0 0 2px rgba(255, 255, 255),
                 0 0 4px rgba(255, 255, 255),
                 -2px 0 8px rgba(255, 255, 255, 0.75),
                 inset 5px 1px 5px rgba(255, 255, 255, 0.91),
                 inset -2px 0 6px rgba(179, 179, 179, 0.44);
    backdrop-filter: blur(20px);
    width: 28%;
    min-width: 300px;
    /*height: calc(250px + (1 - 100vw)*2);*/
    /*height: calc(100% - 100vw * 0.5);*/
    overflow: hidden;
    min-height: 250px;
    max-height: 350px;
    padding: 20px;
    border-radius: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    margin-top: 0;

    font-family: "VK Sans Display", serif;
    font-weight: bold;

    overflow-y: auto;
}


.fcw__dates {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.fcw__own {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 40px;

    color: rgba(255, 255, 255, 0.78);
    text-shadow: 0 0 1px rgba(255, 255, 255),
                 0 0 2px rgba(255, 255, 255),
                 0 0 4px rgba(255, 255, 255, 0.75);
}

.fcw__dates input {
    --color: 230, 230, 230;

    border-radius: 10px;
    border-width: 0;
    background: rgba(var(--color), 0.23);
    box-shadow: 0 0 2px rgba(255, 255, 255),
                 0 0 4px rgba(255, 255, 255),
                 -2px 0 8px rgba(255, 255, 255, 0.75),
                 inset 5px 1px 5px rgba(255, 255, 255, 0.91),
                 inset -2px 0 6px rgba(179, 179, 179, 0.44);

    font-family: "VK Sans Display", serif;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;

    backdrop-filter: blur(10px);

    height: 50px;
    width: 35%;
    min-width: 150px;
    margin-left: 0;

    color: rgba(255, 255, 255, 1);
    /*text-shadow: 0 0 1px rgba(81, 81, 81, 0.7),*/
    /*             0 0 2px rgba(78, 78, 78, 0.75);*/
    font-weight: bold;
    text-align: center;
    vertical-align: center;

    transition: 0.2s;
    cursor: pointer;
}

.fcw__dates input.wrong {
    --color: 230, 0, 0;
}

.fcw__dates input:hover:focus {
    outline-color: white;
    outline-style: dashed;

    background: rgba(var(--color), 0.03);

    box-shadow: 0 0 4px rgba(255, 255, 255),
                 0 0 8px rgba(255, 255, 255),
                 -2px 0 16px rgba(255, 255, 255, 0.75),
                 inset 5px 1px 10px rgba(255, 255, 255, 0.91),
                 inset -2px 0 12px rgba(179, 179, 179, 0.44),
                 2px 0 16px rgba(255, 255, 255, 0.75),
                 inset -5px -1px 10px rgba(255, 255, 255, 0.91),
                 inset 2px 0 12px rgba(179, 179, 179, 0.44);
}

.fcw__dates input:focus {
    outline-color: white;
    outline-style: dashed;

    background: rgba(var(--color), 0.03);

    box-shadow: 0 0 4px rgba(255, 255, 255),
                 0 0 8px rgba(255, 255, 255),
                 -2px 0 16px rgba(255, 255, 255, 0.75),
                 inset 5px 1px 10px rgba(255, 255, 255, 0.91),
                 inset -2px 0 12px rgba(179, 179, 179, 0.44),
                 2px 0 16px rgba(255, 255, 255, 0.75),
                 inset -5px -1px 10px rgba(255, 255, 255, 0.91),
                 inset 2px 0 12px rgba(179, 179, 179, 0.44);
}

.fcw__dates input:hover {
    background: rgba(var(--color), 0.03);

    box-shadow: 0 0 2px rgba(255, 255, 255),
                 0 0 4px rgba(255, 255, 255),
                 -2px 0 8px rgba(255, 255, 255, 0.75),
                 inset 5px 1px 5px rgba(255, 255, 255, 0.91),
                 inset -2px 0 6px rgba(179, 179, 179, 0.44),
                 2px 0 8px rgba(255, 255, 255, 0.75),
                 inset -5px -1px 5px rgba(255, 255, 255, 0.91),
                 inset 2px 0 6px rgba(179, 179, 179, 0.44);
}

.fcw__create {
    background: rgba(230, 230, 230, 0.23);
    border-width: 0;

    border-radius: 20px;
    height: 40px;
    width: 250px;
    min-width: 120px;
    margin-bottom: 10px;
    margin-top: 30px;

    backdrop-filter: blur(10px);

    font-family: "VK Sans Display", serif;
    font-size: 25px;
    font-weight: bolder;
    color: rgba(255, 255, 255, 1);

    box-shadow: 0 0 2px rgba(255, 255, 255),
                 0 0 4px rgba(255, 255, 255),
                 -2px 0 8px rgba(255, 255, 255, 0.75),
                 inset 5px 1px 5px rgba(255, 255, 255, 0.91),
                 inset -2px 0 6px rgba(179, 179, 179, 0.44);

    transition: 0.2s;
    cursor: pointer;
}

.fcw__create:hover {
    background: rgba(230, 230, 230, 0.03);

    text-shadow: 0 0 2px rgba(255, 255, 255, 0.61),
                0 0 4px rgba(255, 255, 255, 0.71);

    box-shadow: 0 0 2px rgba(255, 255, 255),
                 0 0 4px rgba(255, 255, 255),
                 -2px 0 8px rgba(255, 255, 255, 0.75),
                 inset 5px 1px 5px rgba(255, 255, 255, 0.91),
                 inset -2px 0 6px rgba(179, 179, 179, 0.44),
                 2px 0 8px rgba(255, 255, 255, 0.75),
                 inset -5px -1px 5px rgba(255, 255, 255, 0.91),
                 inset 2px 0 6px rgba(179, 179, 179, 0.44);
}

#alert {
    word-wrap: break-word;
    overflow-wrap: anywhere;
    white-space: normal;
    text-align: center;

    height: 20px;

    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 20px;
    color: rgba(229, 57, 53, 0.8);
    text-shadow: 0 0 1px rgba(229, 57, 53, 0.31),
                0 0 2px rgba(229, 57, 53, 0.41);
}

/*.fcw__create:focus {*/
/*    background: rgba(230, 230, 230, 0.03);*/

/*    text-shadow: 0 0 2px rgba(255, 255, 255, 0.61),*/
/*                0 0 4px rgba(255, 255, 255, 0.71);*/

/*    box-shadow: 0 0 2px rgba(255, 255, 255),*/
/*                 0 0 4px rgba(255, 255, 255),*/
/*                 2px 0 8px rgba(255, 255, 255, 0.75),*/
/*                 inset -5px -1px 5px rgba(255, 255, 255, 0.91),*/
/*                 inset 2px 0 6px rgba(179, 179, 179, 0.44);*/
/*}*/

