:root {
    --color-text-white: 255, 255, 255;
    --color-text-gold: 255, 215, 0;
    --color-text-red: 255, 100, 100;
}

body {
    /*background: #0A0E15;*/
    /*background: #191919;*/
    background: rgba(10, 14, 21, 1);
    /*background: linear-gradient(180deg,rgba(30, 30, 30, 1) 0%, rgba(10, 14, 21, 1) 9%, rgba(10, 14, 21, 1) 100%);*/
    /*background: #262626;*/
    /*outline: 1px solid red;*/
    height: 100vh;
    width: 100vw;
    margin: 0;
}

header {
    /*background-color: rgba(25, 25, 25, 0);*/
    display: block;
    position: fixed;
    backdrop-filter: blur(10px);

    height: 40px;
    border-style: hidden;
    /*border-radius: 100px;*/
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
    z-index: 10;

    width: 100%;
    padding-top: 10px;
    margin-right: 20px;
    padding-bottom: 20px;

    box-shadow: inset 0 -2px 4px rgba(255, 255, 255, 0.21);

    font-family: "VK Sans Display", serif;
}

.navigation {
    display: block;
    position: relative;

    font-weight: bold;
    font-size: 20px;
    color: floralwhite;
}

.navigation__menu {
    display: flex;
    position: relative;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    width: 95%;

    /*max-width: 1200px;*/
}

.navigation__user {
    display: block;
    position: absolute;
    right: 40px;
    top: 63%;

    font-size: 34px;

    transform: translateY(-50%) translateX(50%); /* чтобы иконка была по вертикали по центру */

    cursor: pointer;
    transition: 0.2s;
}

.navigation__user img {
    border-radius: 100%;
    width: 50px;
    margin-top: 0px;

    cursor: pointer;
    transition: border 0.2s, width 0.2s, box-shadow 1s;
}

.navigation__user img:hover {
    width: 55px;
    border-width: 0;
    border-style: solid;
    border-color: #000000;

    cursor: pointer;
    --color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 5px var(--color),
                 0 0 10px var(--color),
                 0 0 20px var(--color);
}

.navigation__link {
    text-align: center;
    display: block;
    position: relative;

    margin-top: 6px;
    padding: 7px;

    cursor: pointer;
    transition: 0.3s;
}

.navigation__link.active {
    display: flex;
    background: rgba(94, 90, 90, 0.29);
    border-radius: 20px;
    padding: 7px;
    z-index: 2;

    box-shadow: 0 0 1px white,
                 0 0 2px white,
                 -2px 0 4px rgba(255, 255, 255, 0.75),
                 inset 3px 0 2px rgba(255, 255, 255, 0.61),
                 inset -2px 0 3px rgba(179, 179, 179, 0.44);
    backdrop-filter: blur(20px);
}

.navigation__link:hover {
    filter: glow(100px);
    --color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 0 5px var(--color),
                 0 0 10px var(--color),
                 0 0 20px var(--color);
}

.space {
    display: block;
    height: 60px;
}

/* ========= Окно сообщения ========= */

.message-win {
    position: fixed;
    top: 0;
    right: calc(50vw - 100px);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.44);
    backdrop-filter: blur(5px);
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1),
                0 0 2px rgba(255, 255, 255, 0.84),
                0 0 4px rgba(255, 255, 255, 0.7),
                0 0 8px rgba(255, 255, 255, 0.5),
                inset -2px 0 2px rgba(255, 255, 255, 0.5);

    overflow: hidden;
    transform: translateY(calc(130% - 190px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 5;
    font-family: "VK Sans Display", serif;
}

.message-win.active {
    transform: translateY(130%);
}

.message-win .mw-content {
    display: flex;
    align-items: center;
}

.mw-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #4070f4;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.mw-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.message .text.text-1 {
    font-weight: 600;
    color: #ffffff;
}

.message-win .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.message-win .close:hover {
    opacity: 1;
}

.message-win .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;

}

.message-win .progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.95),
                0 0 4px rgba(255, 255, 255, 0.7);
}

.progress.active:before {
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        right: 100%;
    }
}